
.header{
  height: 500px;
  width:90%;
  background-image: linear-gradient(to bottom right, #D399E6, #660099);
  margin-top: 60px;
  margin-left: 5%;
  border-radius: 30px;
}
.box{
  height: 120px;
  width: 80%;
  background-color: white;
  box-shadow: 5px 10px 18px #D3D3D3;
  margin-top: -80px;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 30px;
  padding: 2%;
}
